/* GENERAL */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7rem;
}

img {
    max-width: 100%;
}


.flex {
    display: flex;
}

.align {
    align-items: center;
}

.relative {
    position: relative;
    margin: 10px 2px;
}


/* UTILITIES */


/* navbar */

nav {
    background-color: black;
    height: 50px;

}


.nav-item {
    justify-content: end;

}

.nav-item>* {
    background-color: #4a4a4a;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;

    margin-top: 5px;
}

/* main */

main {
    background-color: rgb(46, 46, 46);
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;

}

.nickname {

    position: absolute;
    bottom: 5px;
    background-color: rgba(46, 46, 46, .5)
}

p {
    padding: 5px;
}



/* footer */



footer {
    background-color: #222222;
    display: flex;
    justify-content: space-between;

}

.icon {
    text-align: center;

}

.icon i {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: .5rem;
    padding: 10px;
}

span {
    color: #4bc800;
}

.end {
    color: red;
    background-color: #4a4a4a;
}

.end p {
    padding: 30px 20px;
}